node_modules
src/client/dist/*
src/client/static/items/*
src/client/static/blocks/blocksDef.json
src/client/static/blocks/blocksMapping-full.json
src/client/static/blocks/blocksMapping.json
src/client/static/blocks/blocksAtlas-full.png
