node_modules
src/client/dist
src/client/assets/blocks/blocksDef.json
src/client/assets/blocks/blocksAtlas-full.png
src/client/assets/blocks/blocksMapping-full.json
src/client/assets/blocks/blocksMapping.json
src/client/assets/items
src/world