<!DOCTYPE html>
<html>
	<head>
		<title>Web-Minecraft</title>
		<%- include('header'); %>
	</head>
	<body>
		<!-- RENDER CANVAS -->
		<canvas id="c"></canvas>

		<!-- LOADING SCREEN -->
		<div class="initLoading">
			<div class="loadingBar text-center">
				<img src="assets/images/logo.png">
				<h1 class="loadingText">Ładowanie zasobów...</h1>
				<div class="status"></div>
				<img src="assets/images/loadingx.gif">
			</div>
		</div>

		<!-- Chat -->
		<div class="chat"></div>
		<div class="md-form com">
			<input type="text" class="form-control text-light com_i">
		</div>

		<!-- Bottom inventory bar -->
		<span class="player_hp"></span>
		<span class="player_xp"></span>
		<span class="player_food"></span>
		<div class="xp_bar_empty"></div>
		<div class="xp_bar"></div>
		<div class="inv_bar"></div>
		<div class="inv_cursor"></div>

		<!-- Inventory window -->
		<div class="inv_window"></div>

		<!-- MENU -->
		<div class="gameMenu">
			<div class="row">

				<!-- FIRST COLUMN -->
				<div class="col-4 pl-5 pt-4">
					Web-minecraft v.1.0<br>
					Wykonanie: michaljaz
				</div>

				<!--SECOND COLUMN -->
				<div class="col-4 text-center p-3">
					<h3>Gra zatrzymana</h3>
					<button class="gameOn btn btn-dark w-100">
						Graj
					</button>
				</div>

				<!-- THIRD COLUMN -->
				<div class="col-4 p-3">
					Kontrolki
					<li>
						<button>W</button> do przodu
					</li>
					<li>
						<button>S</button> do tyłu
					</li>
					<li>
						<button>A</button> w lewo
					</li>
					<li>
						<button>D</button> w prawo
					</li>
					<li>
						<button>R</button> sprint
					</li>
					<li>
						<button>E</button> ekwipunek
					</li>
					<li>
						<button>Spacja</button> skakanie
					</li>
					<li>
						<button>Shift</button> skradanie się
					</li>
					<li>
						<button>`</button> odpowiednik Escape
					</li>
					<li>
						<button>/</button> <button>T</button> czat
					</li>
				</div>
			</div>
		</div>

		<!-- VIEW CROSS -->
		<div class="cross">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<line x1="15" y1="0" x2="15" y2="30" stroke="black" stroke-width="1" />
				<line x1="0" y1="15" x2="30" y2="15" stroke="black" stroke-width="1" />
			</svg>
		</div>

		<!-- GAME BUNDLE -->
		<script type="module" src="module/index.js"></script>

	</body>
</html>
